<div class='container'>
  <h1 class='text-center'>Mot de passe perdu</h1>

  <p>Un e-mail de réinitialisation de mot de passe a été envoyé à l’adresse e-mail de votre compte, mais cela peut prendre plusieurs minutes avant qu’il ne s’affiche dans votre boîte de réception. Veuillez patientez au moins 10 minutes avant de tenter une autre réinitialisation.</p>
</div>
