<h1 class='text-center'>Adresses</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2><%= address_form_title %></h2>
    <%= render partial: 'form', locals: {url: user_address_path(@user, @address)} %>
  </div>
</div>