<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class='text-center'>Details du compte</h1>

    <%= render layout: 'users/layout' do %>
      <%= render 'form' %>
    <% end %>
  </div>
</div>