<div class='container'>
  <h1 class='text-center'>Dashboard</h1>

  <%= link_to 'Liste des users', admin_users_path %>
  <%= link_to 'Liste des recettes', admin_recipes_path %>
  <%= link_to 'Liste des produits', admin_products_path %>
</div>
